[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "==0.0.1"
matplotlib = "==3.3.3"
numpy = "==1.19.4"
pandas = "==1.1.4"
requests = "==2.25.0"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
